* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

.background {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(1300px, 100vw);
    height: 830px;
    position: relative;
}

.black-box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

.navi {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;

    align-items: center;
}

.netflix-img {
    position: relative;
    z-index: 10;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.b1 {
    color: white;
    background-color: black;
    padding: 14px 0.9em;

    font-size: 20px;
    margin-right: 3px;
    opacity: 0.6;
    border-radius: 6px;
    border: 0.6 px solid white;

}

.b2 {
    background-color: rgb(214, 7, 7);
    padding: 8px 0.8em;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    border: none;
    margin-left: 8px;
    cursor: pointer;
}

.sepration {
    height: 11px;
    width: 100vw;
    background-color: rgb(45, 44, 44);
    z-index: 20;
}
@media screen and (max-width:1460px) {

    .netflix-img {
        position: relative;
        z-index: 10;
        width: 100px;
        height: 50px;
    }

    .b1 {
        padding: 10px 8px;
        font-size: 16px;
        margin-right: 3px;
    }

    .b2 {
        padding: 6px 8px;
        font-size: 20px;
    }

    .background {
        background-size: 91rem;

    }
}

.black-box-content {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 10;
    padding: 0px 23px;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;

}

.black-box-content> :nth-child(1) {
    font-size: 4.2rem;
    font-weight: bolder;
    margin-bottom: 15px;
}

.black-box-content>:nth-child(2) {
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.black-box-content>:nth-child(3) {
    font-size: 2.3rem;
    font-weight: 400;
}

.login {
    position: relative;
    z-index: 10;
    font-size: 1.25em;
    padding: 2px 12px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 16px 161px 16px 18px;
    font-size: 20px;
    font-weight: 600;
    border: 0.5px solid rgb(213, 209, 209, 0.5);
    border-radius: 5px;
    background-color: black;
    color: white;
    opacity: 0.8;



}

.btn {
    color: white;
    background-color: red;

    padding: 15px 33px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    font-weight: 600;
    cursor: pointer;
}


@media screen and (max-width:1400px) {
    .black-box-content>:nth-child(3) {
        font-size: 2rem;
    }
    .btn{
        padding: 11px 23px;
        font-size: 21px;
    }


}
@media screen and (max-width:800px) {
   
    .black-box-content>:nth-child(3) {
        font-size: 1.8rem;
    }
    .input{
        padding: 11px 145px 11px 11px;
    font-size: 18px;
    font-weight: 500;
    }
    .btn{
        padding: 7px 12px;
        font-size: 15px;
    }

}

@media screen and (max-width:648px) {
    .background {
        background-size: 91rem;

    }
    .input{
        font-size: 14px;
    }
    .btn{
        padding: 8px 11px;
        font-size: 10px;
    }
}
@media screen and (max-width:648px) {
    .background {
        background-size: 1470px;

    }
}
@media screen and (max-width:608px) {
    .background {
        background-size: 1470px;
        width: 39rem;
    }
    .input{
        padding: 9px 148px 8px 7px;
        font-size: 14px;
    }
}

/* @media screen and (max-width:648px) {

   .login{
    flex-direction: column;
   }
   .input{
   padding: 10px 144px 10px 12px;
    font-size: 12px;
}
} */
@media screen and (max-width:550px) {
    .login{
     flex-direction: column;
    }
    input{
        padding: 9px 150px 7px 15px;
        font-size: 18px;
 }
 }




/* second part */


.tv {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100vw;
    margin: auto;
}

.tv-media {
    position: relative;
}

.tv-media img {
    width: 40rem;
    height: 32rem;
}

.tv-media video {
    position: absolute;
    position: absolute;
    height: 24.5rem;
    right: 5.6rem;
    top: 3.5rem;
    width: 28.8rem;
}


.tv-text {
    width: 713px;

    display: flex;
    flex-direction: column;

}

.tv-text>:nth-child(1) {
    font-size: 4rem;
    font-weight: 900;
    font-family: Poppins, sans-serif;
}

.tv-text>:nth-child(2) {
    font-size: 2rem;
    font-weight: 200;
    font-family: Poppins, sans-serif;
    flex-wrap: wrap;
}
@media screen and (max-width:800px){
.tv-text{
    width: 615px;
}
.tv-text>:nth-child(1) {
    font-size: 4rem;
    font-weight: 900;
}

}
@media screen and (max-width:750px) {
    
    .tv-text{
        width: 590px;
    }
    .tv-text>:nth-child(1) {
        font-size: 2.9rem;
        font-weight: 800;
    }
    .tv-text>:nth-child(2) {
        font-size: 1.8rem;
        font-weight: 900;
    }
}
@media screen and (max-width:620px){
    .tv-text{
        width: 534px;
    }
    .tv-text>:nth-child(1) {
        font-size: 2.8rem;
        font-weight: 700;
    }
    .tv-text>:nth-child(2) {
        font-size: 1.7rem;
        font-weight: 600;
    }
}
@media screen and (max-width:560px){
    .tv-text{
        width: 460px;
    }
    .tv-text>:nth-child(1) {
        font-size: 2.5rem;
        
    }
    .tv-text>:nth-child(2) {
        font-size: 1.7rem;
        font-weight: 400;
    }
}
@media screen and (max-width:500px){
    .tv{
        margin: 42px 46px;
    }
.tv-media img {
    width: 35rem;
    height: 28rem;
}
.tv-media video{
    position: absolute;
    height: 26.5rem;
    right: 3.6rem;
    top: 0.5rem;
    width: 26.8rem;
}
}

.phone {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    width: 50%;

}

.phone-text>:nth-child(1) {
    font-family: Poppins, sans-serif;

    font-size: 4rem;
    font-weight: 900;
}

.phone-text>:nth-child(2) {
    font-size: 2rem;
    font-weight: 200;
    font-family: Poppins, sans-serif;
}
@media screen and (max-width:790px) {
    .phone-text>:nth-child(1){
        font-size: 3.5rem;
    }
}
@media screen and (max-width:540px) {
    .phone-text>:nth-child(1){
        font-size: 2.3rem;
    }
    .sepration{
        width: 110vw;
    }
}
@media screen and (max-width:385px) {
    .tv {
        margin: 50px 100px;
    }
}
/* lcd tv  */

.lcd-tv {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.lcd-tv-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
}

.lcd-tv-text>:nth-child(1) {
    font-family: Poppins, sans-serif;

    font-size: 4rem;
    font-weight: 900;
}

.lcd-tv-text>:nth-child(2) {
    font-size: 2rem;
    font-weight: 200;
    font-family: Poppins, sans-serif;
}

/* faq css */

.faq {
    background-color: black;
    height: 80vh;

}

.faq h1 {
    color: white;
    text-align: center;
    font-size: 4.1rem;
    font-family: Poppins, sans-serif;
    font-weight: 800;

}

.faq-box {
    width: 60vw;
    display: flex;
    color: white;
    background-color: #2d2d2d;
    font-size: 1.8rem;
    justify-content: space-between;
    align-items: center;
    margin: 38px auto;
    padding: 28px 22px 31px 18px;
}
@media screen and (max-width:600px){
.faq h1{
    font-size: 3rem;
}
.sepration{
    width: 115vw;
}
}
/* footer css */
footer {
    background-color: black;
    max-width: 65vw;
    margin: auto;
    padding: 70px;
    color: #b7b7b7;
}

.question {
    padding: 34px 0;
    font-size: 23px;
}

.question a {
    color: #b7b7b7;
    font-size: 23px;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #b7b7b7;
}

.footer a {
    color: #b7b7b7;
}

.footer-item {

    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 30px;
}

.outro {
    padding-top: 25px;
    font-size: 20px;
}

.outro select {
    background-color: black;
    color: white;
    padding: 10px 10px 11px 11px;
    border-radius: 4px;
}

.outro p {
    padding-top: 20px;
}

@media screen and ( max-width:1200px){
    .tv {
        flex-direction: column;
    }

    .phone{
        flex-direction: column;
    }

    .phone-text{
        width: 80%;
    }
} 
@media screen and ( max-width:500px){
    .footer{
        grid-template-columns: 1fr 1fr;

    }
    .footer-item{
        row-gap: 20px;
    }
    .sepration{
        width: 120vw;
    }
}
@media screen and ( max-width:480px){

.sepration{
    width: 120vw;
}
}
@media screen and ( max-width:410px){
    .faq{
        height: 120vh;
    }
    .sepration{
        width: 170vw;
    }
    }